*{
    box-sizing: border-box;
}

body{
    background:  linear-gradient(to left, #09260B, #054F08 , #AD7A00 130%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.is{
    border-radius: 20px
}
.title{
    flex-wrap: wrap;
    max-width: 900px;
    text-align: center;
}

.name{
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title h2{ 
    color: whitesmoke;
    margin: 2px ;
}
.name h3{
    color: rgb(192, 179, 0);
    margin: 0;
}

.container{
    
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
#ums{
    border: 5px solid ;
    border-radius: 50px;
    border-color: goldenrod;
    
}
#cs2{
    border: 2px solid orangered;
    border-radius: 15px; 
}

.buttos{
    flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
    display: flex;
    gap: 10px;
    margin: 20px auto;
}

#History{
    width: 100px;
    height: 200px;
    padding: 10px;
   box-sizing: border-box;
   max-width: 1200px;
    border: 1px solid whitesmoke;
    background-color: #183019;
    color: whitesmoke;
    border-radius: 40px;
    font-size: 12px;
    height: auto;
    transition: 0.5s;
}
#History:hover{
    background-color: #c70909;
      box-shadow: 2px 4px 5px chartreuse;
}

#M{
     width: 100px;
    height: 200px;
    padding: 10px;
   box-sizing: border-box;
   max-width: 1200px;
    border: 1px solid whitesmoke;
    background-color: #183019;
    color: whitesmoke;
    border-radius: 40px;
    font-size: 12px;
    height: auto;
    transition: 0.5s;
}
#M:hover{
    background-color: #c70909;
      box-shadow: 2px 4px 5px chartreuse;
}
#Vision{
       width: 100px;
    height: 200px;
    padding: 10px;
   box-sizing: border-box;
   max-width: 1200px;
    border: 1px solid whitesmoke;
    background-color: #183019;
    color: whitesmoke;
    border-radius: 40px;
    font-size: 12px;
    height: auto;
    transition: 0.5s;
}
#Vision:hover{
    background-color: #c70909;
      box-shadow: 2px 4px 5px chartreuse;
}
#Motto{
       width: 80px;
    height: 200px;
    padding: 10px;
   box-sizing: border-box;
   max-width: 1200px;
    border: 1px solid whitesmoke;
    background-color: #183019;
    color: whitesmoke;
    border-radius: 40px;
    font-size: 12px;
    height: auto;
    transition: 0.5s;
}
#Motto:hover{
     background-color: #c70909;
     box-shadow: 2px 4px 5px chartreuse;
}
#CS{
     width: 150px;
    height: 200px;
    padding: 10px;
   box-sizing: border-box;
   max-width: 1200px;
    border: 1px solid whitesmoke;
    background-color: #183019;
    color: whitesmoke;
    border-radius: 40px;
    font-size: 12px;
    height: auto;
    transition: 0.5s;
}
#CS:hover{
     background-color: #c70909;
       box-shadow: 2px 4px 5px chartreuse;
}

#prof{
       width: 100px;
    height: 200px;
    padding: 10px;
   box-sizing: border-box;
   max-width: 1200px;
    border: 1px solid whitesmoke;
    background-color: #183019;
    color: whitesmoke;
    border-radius: 40px;
    font-size: 12px;
    height: auto; 
    transition: 0.5s;
}
#prof:hover{
    background-color: #c70909;
      box-shadow: 2px 4px 5px chartreuse;
}
#devs{
    width: 90px;
    height: 200px;
    padding: 10px;
   box-sizing: border-box;
   max-width: 1200px;
    border: 1px solid whitesmoke;
    background-color: #183019;
    color: whitesmoke;
    border-radius: 40px;
    font-size: 12px;
    height: auto; 
    transition: 0.5s;
}
#devs:hover{
    background-color: #c70909;
      box-shadow: 2px 4px 5px chartreuse;
}


.Developers{
    border-radius: 20px;
   display: flex;
   flex-wrap: wrap  ;
   align-items: center;
   justify-content: center;
   margin-right: 60px;
   margin-top: 30px; 
   flex-direction: row;
   gap: 20px;
}

#change{
    display: none;
}

#Developer{

    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s;
    
}


#Developer:hover{
    transform: translateY(20px);
    border-radius: 40px;
     
}

#DeveloperArd{
    
    border-radius: 20px;
    width: 120px;
   
    transition: 0.2s;
}
#DeveloperArd:hover{
     transform: translateY(20px);
     border-radius: 40px;
}
#DeveloperArds{
    border-radius: 20px;
    width: 120px;
    transition: 0.2s;
}
#DeveloperArds:hover{
     transform: translateY(20px);
     border-radius: 40px;
}
#Developer2{
    
    object-fit: cover;
    display: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 10px;
   
}


#Developer2:hover{
    border-radius: 40px;
}

.aaa{
    display: block;
}
.text{
    display: none;
}
.content{
    display: none;
}
#change:checked ~ .Developers #Developer{
    display: none;
}
 
 #change:checked ~ .Developers #DeveloperArd{
    display:none;
}
 #change:checked ~ .Developers #DeveloperArds{
    display:none;
}
 #change:checked ~ .Developers #Developer2{
            display: block;
 }
 #change:checked ~ .Developers .aaa{
            display: none;
 }
  #change:checked ~ .Developers .text{
            display: block;
 }
  #change:checked ~ .Developers .content{
            display: block;
  }
 
.Developers h2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
    margin-bottom: 30px;
    color: wheat;
    margin-left: 3px;
    margin: 5px;
}
.Developers p{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
    color: wheat;
    margin-left: 3px;
    margin: 0;
}

.text{
    margin-left: 50px;
    display: none;
    flex-basis: 100%;
    text-align: center;
    margin-top: 10px;
}

.web{
    flex-wrap: wrap;
    color: goldenrod;
    width: 30%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    border-radius: 0 50px;
}
.web p{
    margin-left: 40px;
    color: red;
    font-weight: bolder;
    font-size: 20px;
    font-style: italic;
}

.content{
    background-color: #3b5200;
    padding: 10px;
    flex-wrap: wrap;
    margin-top: 50px;
    border: 3px solid white;
    border-radius: 20px;
    width: 700px;
    height: 100px;
    min-height: 900px;
    box-sizing: border-box;
    overflow: hidden;
}

.Family{
   
    flex-wrap: wrap;
     display: flex;
     margin-top: 50px;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 15px;
     max-width: 100%;
     box-sizing: border-box;
}

.Family #F{
    width: 200px;
    max-width: 100%;
   height: auto;
}
.content p{
    margin-top: 20px ;
}

.friends{
   
    flex-wrap: wrap;
     display: flex;
     margin-top: 50px;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     gap: 15px;
}
.friends #I{
     max-width: 100%;
     height: auto;
}

.aaa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 700px){
    .web{

 
    
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    font-size: 5px;
    padding-left: 15px;
}
.web p{
    margin-left:  50px;
    color: red;
    font-weight: bolder;
    font-size: 20px;
}
.text p{
    flex-wrap:wrap;
    margin-right: 50px;
}
.text h2{
    flex-wrap:wrap;
    margin-right: 50px;
}

.Developers{
    border-radius: 20px;
   display: flex;
   flex-wrap: wrap  ;
   align-items: flex-start;
   justify-content: center;
   width: 100%;
   margin-left: 60px;
   margin-top: 30px; 
   flex-direction: row;
}

#Developer2{
    
    object-fit: cover;
    display: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 40px;
   
}
.content{
    scroll-behavior: smooth;
    flex-wrap: wrap;
    margin-top: 50px;
   background-color: #3b5200;
    border: 3px solid goldenrod;
    width: 100%;
   height: 100%;
    margin-right: 5px;
    border-radius: 20px;
}


.Family{
   
    flex-wrap: wrap;
     display: flex;
     margin-top: 50px;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 15px;
     max-width: 100%;
     box-sizing: border-box;
}

.Family #F{
    width: 250px;
    max-width: 100%;
   height: auto;
}
.friends{
   
    flex-wrap: wrap;
     display: flex;
     margin-top: 50px;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     gap: 15px;
}
.friends #I{
     max-width: 100%;
     height: auto;
}
}